body{
    text-align: center;
}
nav{
    
    height: 90px;
}
.containerTopNav{
    display: flex;
    justify-content: flex-end;
    background-color: #4ca8b2;
    height: 30px;
    
}
.containerTopNav ul li a{
    color: rgb(26, 25, 25);
}

#brandlogo {
    height: 80px;
    padding: 5px;
    margin: 5px;
}

/*efecto parallax js con texto*/


#container1 {
    background-image: url(".././images/rawpixel-580223-unsplash.jpg");
    background-attachment: fixed;
   /* max-height: 100%;*/
    height: 500px; /*altura del fondo*/
    position: relative;
    margin: 0 auto;
    padding: 5%;
    background-size: cover; /*ajusta el fondo a la imagen*/
    

}


#container1 form {
    text-align: center;
    margin-top: 100px;
    color: #fff !important;

}

.containerCar{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    margin-left: 15px;
    margin-right: 15px;
}

#iframe1{
    width: 100%;
    height: 500px;
}








// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
     /* show 3 items */
     .carousel-inner .active,
     .carousel-inner .active + .carousel-item,
     .carousel-inner .active + .carousel-item + .carousel-item {
       display: block;
     }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }