body{
    text-align: center;
    background-color: rgba(167, 161, 161, 0.925);
}
nav{
    
    height: 90px;
}
.containerTopNav{
    display: flex;
    justify-content: flex-end;
    background-color: #4ca8b2;
    height: 30px;
    
}
.containerTopNav ul li a{
    color: rgb(26, 25, 25);
}

#brandlogo {
    height: 80px;
    padding: 5px;
    margin: 5px;
}

/*efecto parallax js con texto*/


#container1 {
    background-image: url(".././images/rawpixel-580223-unsplash.jpg");
    background-attachment: fixed;
   /* max-height: 100%;*/
    height: 500px; /*altura del fondo*/
    position: relative;
    margin: 0 auto;
    padding: 5%;
    background-size: cover; /*ajusta el fondo a la imagen*/
    

}


#container1 form {
    text-align: center;
    margin-top: 100px;
    color: #fff !important;

}

.oferspecial{
    margin: 40px;
}

/* esto es el css para mi carousel*/
.containerCar{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
.card{

    border-radius: 10px;
    padding: 30px;
    box-shadow: 2px 2px 2px #4ca8b2;
}

.card-img-top {
    height: 180px;
    width: 200px;
  }
/*.row{
    margin-left: 15px;
    margin-right: 15px;
}
*/


.footer{
    background-color:  #4ca8b2;
}








// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
     /* show 3 items */
     .carousel-inner .active,
     .carousel-inner .active + .carousel-item,
     .carousel-inner .active + .carousel-item,
     
     .carousel-inner .active + .carousel-item + .carousel-item {
       display: block;
     }
   
     .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
     .
     .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
     .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
       transition: none;
     }
   
     .carousel-inner .carousel-item-next,
     .carousel-inner .carousel-item-prev {
       position: relative;
       transform: translate3d(0, 0, 0);
     }
   
     .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
       position: absolute;
       top: 0;
       right: -33.3333%;
       z-index: -1;
       display: block;
       visibility: visible;
     }
   
     /* left or forward direction */
     .active.carousel-item-left + .carousel-item-next.carousel-item-left,
     .carousel-item-next.carousel-item-left + .carousel-item,
     .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
     .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
       position: relative;
       transform: translate3d(-100%, 0, 0);
       visibility: visible;
     }
   
     /* farthest right hidden item must be abso position for animations */
     .carousel-inner .carousel-item-prev.carousel-item-right {
       position: absolute;
       top: 0;
       left: 0;
       z-index: -1;
       display: block;
       visibility: visible;
     }
   
     /* right or prev direction */
     .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
     .carousel-item-prev.carousel-item-right + .carousel-item,
     .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
     .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
       position: relative;
       transform: translate3d(100%, 0, 0);
       visibility: visible;
       display: block;
       visibility: visible;
     }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }