body{
    margin: 0px;
    text-align: center;
    background-color: aliceblue;

}

.cont1{
    background-color: rgb(111, 175, 238);
    color: white;
    text-align: center;
    padding: 35px;
}   
.cardp{
    background-color: rgb(46, 131, 216);
    padding: 80px;
    display: flex;
    flex-direction: "row";
    width: 70%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-left: 10%;


    
}

#button1{
    background-color: rgb(46, 131, 216);
    padding: 10px 20px 10px 20px;
    border: 1px #c0daf3;
    border-radius: 5px;
}

.conti{
    background-color: #c0daf3;
    padding: 70px 90px 70px 90px;
    display: flex;
    flex-direction: "row";
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
      
}
.card{
    text-align: center;
    margin: 5%;
}

.cont2{
    margin-top: 3%;
    margin-left: 12%;
    margin-right: 10%;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
   
}






